<h1> ANALYSIS OF TREND IN COVID-19 CASES </h1>

In [5]:
import pandas as pd
import numpy as np

<h2>Importing Dataset</h2>

In [6]:
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [7]:
print(confirmed_df.shape)
print(deaths_df.shape)
print(recoveries_df.shape)

(271, 314)
(271, 314)
(256, 314)

In [8]:
confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,43628,43851,44228,44443,44503,44706,44988,45280,45490,45716
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,29126,29837,30623,31459,32196,32761,33556,34300,34944,35600
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,69591,70629,71652,72755,73774,74862,75867,77000,78025,79110
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,5951,6018,6066,6142,6207,6256,6304,6351,6428,6534
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,13818,13922,14134,14267,14413,14493,14634,14742,14821,14920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,64935,66186,67296,68768,70254,71644,73196,75007,76727,78493
267,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
268,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2081,2083,2086,2090,2093,2099,2107,2114,2124,2137
269,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17243,17280,17350,17373,17394,17424,17454,17466,17535,17553
270,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,8945,8981,9046,9120,9172,9220,9308,9398,9508,9623

<h2> Data Preprocessing </h2>

<h3> Combining rows under same country. </h3>

In [9]:
df_c = confirmed_df.groupby('Country/Region').sum()
df_c

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,0,...,43628,43851,44228,44443,44503,44706,44988,45280,45490,45716
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,29126,29837,30623,31459,32196,32761,33556,34300,34944,35600
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,69591,70629,71652,72755,73774,74862,75867,77000,78025,79110
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,5951,6018,6066,6142,6207,6256,6304,6351,6428,6534
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,13818,13922,14134,14267,14413,14493,14634,14742,14821,14920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,64935,66186,67296,68768,70254,71644,73196,75007,76727,78493
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,2081,2083,2086,2090,2093,2099,2107,2114,2124,2137
Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,0,...,17243,17280,17350,17373,17394,17424,17454,17466,17535,17553
Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,0,...,8945,8981,9046,9120,9172,9220,9308,9398,9508,9623

In [10]:
df_d = deaths_df.groupby('Country/Region').sum()
df_d

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,0,...,1638,1645,1650,1661,1675,1687,1695,1712,1725,1737
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,637,646,657,672,685,699,716,735,743,753
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,2186,2206,2224,2236,2255,2272,2294,2309,2329,2352
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,76,76,76,76,76,76,76,76,76,76
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,328,332,333,334,336,337,337,338,340,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,580,589,598,606,620,636,645,656,665,680
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,607,607,608,608,608,608,609,609,611,612
Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,0,...,353,356,356,356,356,357,357,357,357,357
Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,0,...,260,261,265,265,265,268,273,274,274,274

In [11]:
df_r = recoveries_df.groupby('Country/Region').sum()
df_r

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,0,...,35160,35295,35350,35370,35422,35934,35976,36122,36145,36232
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,13804,14216,14565,15055,15469,15842,16230,16666,17031,17352
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,45148,46326,46962,47581,48183,48794,49421,50070,50712,51334
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,4965,5055,5127,5239,5290,5358,5405,5503,5542,5649
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,6582,6623,7062,7117,7273,7346,7351,7444,7517,7617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,55684,56843,57469,57879,58383,59021,59538,60009,60499,61241
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,1410,1417,1428,1434,1441,1448,1459,1467,1474,1484
Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,0,...,16473,16495,16591,16606,16659,16701,16701,16707,16755,16779
Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,0,...,8164,8184,8195,8229,8235,8250,8288,8297,8336,8397

<h3> Taking transpose of the datasets for better dataset usage. </h3>

In [12]:
test_c = df_c.transpose()
test1_c = test_c.iloc[2:]
test1_c

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/22/20,44706.0,32761.0,74862.0,6256.0,14493.0,139.0,1370366.0,126224.0,27834.0,247188.0,...,4699.0,71617.0,1.0,99835.0,1307.0,71644.0,10.0,2099.0,17424.0,9220.0
11/23/20,44988.0,33556.0,75867.0,6304.0,14634.0,139.0,1374631.0,126709.0,27843.0,250333.0,...,4763.0,71774.0,1.0,100143.0,1312.0,73196.0,10.0,2107.0,17454.0,9308.0
11/24/20,45280.0,34300.0,77000.0,6351.0,14742.0,139.0,1381795.0,127522.0,27853.0,254710.0,...,4870.0,71985.0,1.0,100498.0,1316.0,75007.0,10.0,2114.0,17466.0,9398.0
11/25/20,45490.0,34944.0,78025.0,6428.0,14821.0,140.0,1390388.0,129085.0,27865.0,260512.0,...,4988.0,72227.0,1.0,100817.0,1321.0,76727.0,10.0,2124.0,17535.0,9508.0
11/26/20,45716.0,35600.0,79110.0,6534.0,14920.0,141.0,1399431.0,130870.0,27873.0,266038.0,...,5117.0,72409.0,1.0,101215.0,1331.0,78493.0,10.0,2137.0,17553.0,9623.0

In [13]:
test_d = df_d.transpose()
test1_d = test_d.iloc[2:]
test1_d

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/22/20,1687.0,699.0,2272.0,76.0,337.0,4.0,37002.0,1952.0,907.0,2388.0,...,71.0,603.0,0.0,871.0,35.0,636.0,1.0,608.0,357.0,268.0
11/23/20,1695.0,716.0,2294.0,76.0,337.0,4.0,37122.0,1976.0,907.0,2459.0,...,71.0,604.0,0.0,873.0,35.0,645.0,1.0,609.0,357.0,273.0
11/24/20,1712.0,735.0,2309.0,76.0,338.0,4.0,37432.0,2002.0,907.0,2577.0,...,72.0,604.0,0.0,876.0,35.0,656.0,1.0,609.0,357.0,274.0
11/25/20,1725.0,743.0,2329.0,76.0,340.0,4.0,37714.0,2040.0,907.0,2667.0,...,73.0,606.0,0.0,880.0,35.0,665.0,1.0,611.0,357.0,274.0
11/26/20,1737.0,753.0,2352.0,76.0,341.0,4.0,37941.0,2068.0,907.0,2773.0,...,74.0,607.0,0.0,884.0,35.0,680.0,1.0,612.0,357.0,274.0

In [14]:
test_r = df_r.transpose()
test1_r = test_r.iloc[2:]
test1_r

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/22/20,35934.0,15842.0,48794.0,5358.0,7346.0,128.0,1195492.0,94090.0,25527.0,169260.0,...,3679.0,68827.0,0.0,94355.0,1142.0,59021.0,8.0,1448.0,16701.0,8250.0
11/23/20,35976.0,16230.0,49421.0,5405.0,7351.0,128.0,1203800.0,95099.0,25533.0,175527.0,...,3764.0,69054.0,0.0,94985.0,1151.0,59538.0,8.0,1459.0,16701.0,8288.0
11/24/20,36122.0,16666.0,50070.0,5503.0,7444.0,128.0,1210634.0,98944.0,25539.0,182620.0,...,3827.0,69240.0,0.0,95344.0,1153.0,60009.0,8.0,1467.0,16707.0,8297.0
11/25/20,36145.0,17031.0,50712.0,5542.0,7517.0,129.0,1217284.0,100913.0,25547.0,189059.0,...,3923.0,69477.0,0.0,95669.0,1153.0,60499.0,8.0,1474.0,16755.0,8336.0
11/26/20,36232.0,17352.0,51334.0,5649.0,7617.0,130.0,1226662.0,103055.0,25570.0,196342.0,...,4021.0,69670.0,0.0,96072.0,1166.0,61241.0,8.0,1484.0,16779.0,8397.0

<h3> Creating the main dataset. </h3>

In [15]:
DF = pd.DataFrame(columns = ['Date','Country','Confirmed','Deaths','Recovered','Cumulative_Confirmed','Cumulative_Deaths','Cumulative_Recovered','Fatality_Rate','Recovery_Rate'])

In [16]:
for i in range(len(test1_c.columns)):
    for j in range(len(test1_c.index)):
        d = test1_c.index[j]
        c = test1_c.columns[i]
        conf = test1_c[c][j]
        dth = test1_d[c][j]
        rcvd = test1_r[c][j]
        temp = pd.DataFrame({'Date' : d, 'Country' : c, 'Confirmed' : conf, 'Deaths' : dth, 'Recovered' : rcvd}, index = [(i*len(test1_c.index))+j])
        DF = pd.concat([DF,temp])

In [18]:
DF

,Date,Country,Confirmed,Deaths,Recovered,Cumulative_Confirmed,Cumulative_Deaths,Cumulative_Recovered,Fatality_Rate,Recovery_Rate
0,1/22/20,Afghanistan,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1/23/20,Afghanistan,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1/24/20,Afghanistan,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1/25/20,Afghanistan,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,1/26/20,Afghanistan,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59205,11/22/20,Zimbabwe,9220.0,268.0,8250.0,NaN,NaN,NaN,NaN,NaN
59206,11/23/20,Zimbabwe,9308.0,273.0,8288.0,NaN,NaN,NaN,NaN,NaN
59207,11/24/20,Zimbabwe,9398.0,274.0,8297.0,NaN,NaN,NaN,NaN,NaN
59208,11/25/20,Zimbabwe,9508.0,274.0,8336.0,NaN,NaN,NaN,NaN,NaN
59209,11/26/20,Zimbabwe,9623.0,274.0,8397.0,NaN,NaN,NaN,NaN,NaN

In [19]:
DF['Cumulative_Confirmed'] = DF.groupby(['Country','Date'],level=0).cumsum()['Confirmed']
DF['Cumulative_Deaths'] = DF.groupby(['Country','Date'],level=0).cumsum()['Deaths']
DF['Cumulative_Recovered'] = DF.groupby(['Country','Date'],level=0).cumsum()['Recovered']

In [20]:
DF.head(311)

,Date,Country,Confirmed,Deaths,Recovered,Cumulative_Confirmed,Cumulative_Deaths,Cumulative_Recovered,Fatality_Rate,Recovery_Rate
0,1/22/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1/23/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,1/24/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,1/25/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,1/26/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
306,11/23/20,Afghanistan,44988.0,1695.0,35976.0,44988.0,1695.0,35976.0,NaN,NaN
307,11/24/20,Afghanistan,45280.0,1712.0,36122.0,45280.0,1712.0,36122.0,NaN,NaN
308,11/25/20,Afghanistan,45490.0,1725.0,36145.0,45490.0,1725.0,36145.0,NaN,NaN
309,11/26/20,Afghanistan,45716.0,1737.0,36232.0,45716.0,1737.0,36232.0,NaN,NaN
310,1/22/20,Albania,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [21]:
f = DF.groupby(['Country','Date'],level=0).apply(lambda x : (x['Cumulative_Deaths']/x['Cumulative_Confirmed']*100) if x['Cumulative_Deaths'].item() > 0 else 0)
rr = DF.groupby(['Country','Date'],level=0).apply(lambda x : (x['Cumulative_Recovered']/x['Cumulative_Confirmed']*100) if x['Cumulative_Recovered'].item() > 0 else 0)

In [117]:
for i in range(len(DF)):
    if type(f[i]) == pd.core.series.Series:
        DF['Fatality_Rate'].iloc[i] = f[i].iloc[0]
    else:
        DF['Fatality_Rate'].iloc[i] = f[i]
    if type(rr[i]) == pd.core.series.Series:
        DF['Recovery_Rate'].iloc[i] = rr[i].iloc[0]
    else:        
        DF['Recovery_Rate'].iloc[i] = rr[i]

D:\Anaconda\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
DF

,Date,Country,Confirmed,Deaths,Recovered,Cumulative_Confirmed,Cumulative_Deaths,Cumulative_Recovered,Fatality_Rate,Recovery_Rate
0,1/22/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,1/23/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2,1/24/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0,0
3,1/25/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,1/26/20,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
59205,11/22/20,Zimbabwe,9220.0,268.0,8250.0,9220.0,268.0,8250.0,2.90672,89.4794
59206,11/23/20,Zimbabwe,9308.0,273.0,8288.0,9308.0,273.0,8288.0,2.93296,89.0417
59207,11/24/20,Zimbabwe,9398.0,274.0,8297.0,9398.0,274.0,8297.0,2.91551,88.2847
59208,11/25/20,Zimbabwe,9508.0,274.0,8336.0,9508.0,274.0,8336.0,2.88178,87.6735
59209,11/26/20,Zimbabwe,9623.0,274.0,8397.0,9623.0,274.0,8397.0,2.84734,87.2597

In [149]:
map_df = pd.DataFrame(data = DF.groupby('Country')['Cumulative_Confirmed'].max(), columns = ['Cumulative_Confirmed'])
map_df = map_df.sort_values(by=['Cumulative_Confirmed'],ascending = False).head(15)
map_df

                Cumulative_Confirmed
Country
US                        12883264.0
India                      9309787.0
Brazil                     6204220.0
France                     2235537.0
Russia                     2169424.0
Spain                      1617355.0
United Kingdom             1578429.0
Italy                      1509875.0
Argentina                  1399431.0
Colombia                   1280487.0
Mexico                     1078594.0
Germany                    1017830.0
Peru                        952439.0
Poland                      941112.0
Iran                        908346.0

In [178]:

new_df = DF[DF['Country']=='US'].tail(1)


for x in map_df.index:
    new_df = new_df.append(DF[DF['Country']==x].tail(1))

new_df.drop(index = 54869)

,Date,Country,Confirmed,Deaths,Recovered,Cumulative_Confirmed,Cumulative_Deaths,Cumulative_Recovered,Fatality_Rate,Recovery_Rate
24799,11/26/20,India,9309787.0,135715.0,8718517.0,9309787.0,135715.0,8718517.0,1.45777,93.6489
7439,11/26/20,Brazil,6204220.0,171460.0,5556887.0,6204220.0,171460.0,5556887.0,2.7636,89.5662
19529,11/26/20,France,2235537.0,51041.0,163814.0,2235537.0,51041.0,163814.0,2.28317,7.32772
44019,11/26/20,Russia,2169424.0,37688.0,1671349.0,2169424.0,37688.0,1671349.0,1.73724,77.0411
49909,11/26/20,Spain,1617355.0,44374.0,150376.0,1617355.0,44374.0,150376.0,2.74362,9.29765
56109,11/26/20,United Kingdom,1578429.0,57128.0,3454.0,1578429.0,57128.0,3454.0,3.61929,0.218825
26659,11/26/20,Italy,1509875.0,52850.0,661180.0,1509875.0,52850.0,661180.0,3.50029,43.7904
2169,11/26/20,Argentina,1399431.0,37941.0,1226662.0,1399431.0,37941.0,1226662.0,2.71117,87.6543
11779,11/26/20,Colombia,1280487.0,36019.0,1181753.0,1280487.0,36019.0,1181753.0,2.81291,92.2893
35649,11/26/20,Mexico,1078594.0,104242.0,803581.0,1078594.0,104242.0,803581.0,9.66462,74.5026
20769,11/26/20,Germany,1017830.0,15640.0,685537.0,1017830.0,15640.0,685537.0,1.5366,67.3528
42159,11/26/20,Peru,952439.0,35685.0,887019.0,952439.0,35685.0,887019.0,3.7467,93.1313
42779,11/26/20,Poland,941112.0,15568.0,494869.0,941112.0,15568.0,494869.0,1.65421,52.5834
25419,11/26/20,Iran,908346.0,46689.0,633275.0,908346.0,46689.0,633275.0,5.14,69.7174

In [192]:

new_df.append(DF[DF['Country']=='US'].tail(1))
new_df.sort_values(by=['Fatality_Rate'])
p_df = new_df[['Country','Fatality_Rate','Recovery_Rate','Confirmed','Recovered','Deaths']]
p_df

,Country,Fatality_Rate,Recovery_Rate,Confirmed,Recovered,Deaths
54869,US,2.04493,37.8103,12883264.0,4871203.0,263454.0
54869,US,2.04493,37.8103,12883264.0,4871203.0,263454.0
24799,India,1.45777,93.6489,9309787.0,8718517.0,135715.0
7439,Brazil,2.7636,89.5662,6204220.0,5556887.0,171460.0
19529,France,2.28317,7.32772,2235537.0,163814.0,51041.0
44019,Russia,1.73724,77.0411,2169424.0,1671349.0,37688.0
49909,Spain,2.74362,9.29765,1617355.0,150376.0,44374.0
56109,United Kingdom,3.61929,0.218825,1578429.0,3454.0,57128.0
26659,Italy,3.50029,43.7904,1509875.0,661180.0,52850.0
2169,Argentina,2.71117,87.6543,1399431.0,1226662.0,37941.0
11779,Colombia,2.81291,92.2893,1280487.0,1181753.0,36019.0
35649,Mexico,9.66462,74.5026,1078594.0,803581.0,104242.0
20769,Germany,1.5366,67.3528,1017830.0,685537.0,15640.0
42159,Peru,3.7467,93.1313,952439.0,887019.0,35685.0
42779,Poland,1.65421,52.5834,941112.0,494869.0,15568.0
25419,Iran,5.14,69.7174,908346.0,633275.0,46689.0

In [23]:
import plotly as py
import plotly.graph_objs as go

In [106]:
#https://towardsdatascience.com/an-introduction-to-geographical-data-visualization-3486959cd4b8

import plotly as py
import plotly.graph_objs as go
import pandas as pd


data_confirmed_cases = dict (
    type = 'choropleth',
    locations = DF['Country'],
    locationmode='country names',
    colorscale = 'viridis',
    z=DF['Cumulative_Confirmed'])

fig = go.Figure(data=[data_confirmed_cases])

py.offline.plot(fig)

'temp-plot.html'